.form {
  width: 300px;
  height: fit-content;
  padding: 3%;
}

.label {
  font-size: 130%;
  padding: 1%;
  margin: 1%;
  color: rgb(6, 146, 76);
}

.input {
  width: 90%;
  font-size: 18px;
  border-radius: 5px;
  padding: 1%;
  margin: 2%;
  font-family: "Times New Roman", Times, serif;
}
.a:hover {
  cursor: pointer;
}
.a {
  color: blue;
}

.btn {
  width: 30%;
  height: 30px;
  font-size: 18px;
  border: none;
  color: white;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
}
