/* .ul {
  margin: 0%;
  padding: 0%;
  list-style-type: none;
  background-color: rgb(50, 45, 45);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 0.5px solid white;
}
.a {
  font-size: 110%;
  color: antiquewhite;
}

.li {
  padding: 1%;
  border-left: 0.5px double rgb(111, 96, 96);
  border-right: 0.5px double rgb(111, 96, 96);
}

.li:hover {
  cursor: pointer;
  background-color: rgb(0, 0, 0);
}

.left,
.right {
  width: 13%;
}

.left {
  margin-left: 3%;
}
.right {
  margin-right: 3%;
}
.top {
  display: flex;
  justify-content: space-between;
}

.nav {
  margin: 0%;
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
}

.middle {
  width: 20%;
  margin: 0%;
  padding: 0%;
}
.mid {
  width: 40%;
  margin: 0%;
  padding: 0%;
}
.title {
  padding: 0%;
  margin: 0%;
  color: rgb(8, 165, 8);
}

.title1 {
  padding: 0%;
  margin: 0%;
} */

/* Base styles */
.ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: rgb(50, 45, 45);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: 0.5px solid white;
}

.a {
  font-size: 110%;
  color: antiquewhite;
}

.li {
  padding: 1%;
  border-left: 0.5px double rgb(111, 96, 96);
  border-right: 0.5px double rgb(111, 96, 96);
}

.li:hover {
  cursor: pointer;
  background-color: rgb(0, 0, 0);
}

.left,
.right {
  width: 13%;
}

.left {
  margin-left: 3%;
}

.right {
  margin-right: 3%;
}

.top {
  display: flex;
  justify-content: space-between;
}

.nav {
  margin: 0;
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
}

.middle {
  width: 20%;
  margin: 0;
  padding: 0;
}

.mid {
  width: 40%;
  margin: 0;
  padding: 0;
}

.title {
  padding: 0;
  margin: 0;
  color: rgb(8, 165, 8);
}

.title1 {
  padding: 0;
  margin: 0;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .ul {
    flex-direction: column;
  }

  .left,
  .right {
    width: 100%;
    margin: 0;
  }

  .middle,
  .mid {
    width: 100%;
  }

  .nav {
    position: static;
  }
}
